{% extends 'base.html.twig' %}

{% block navbar %}
	<div id="userbar-region"></div>
	<div id="post-region"></div>
	<div id="edit-region"></div>


	<script type="text/x-handlebars-template" id="userbar-template">
    <nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
			<div class="navbar-header">
			{% raw %}
	        <a id="navbar-login" class="navbar-brand" href="#">
	             <span class="glyphicon glyphicon-user"></span>
	             {{ name }}
	        </a>
			{% endraw %}
			</div>
	        
	        <ul class="nav navbar-nav">
	            <li>        
	                <a href="javascript:void(0)" id="post-note-btn" class="btn" id="post-note-btn">
	                    {{ post_note_label }}
	                </a>
	            </li>
	        </ul>
	        
	        <ul class="nav navbar-nav navbar-right">            
	            <li><a class="btn" href="{{ signout_url }}">{{ signout_label }}</a></li>
	        </ul>
	    </div>      
	</nav>

		<div class="modal fade" id="profile-edit-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ profile_edit_label }}</h4>
              </div>
              <div class="modal-body">
                <form id="profile-edit-form">
                       
				<div class="input-group">
  					<span class="input-group-addon" id="input-addon-name">{{profile_name_label}}</span>
					{% raw %}
					<input	type="text" name="name" id="profile-name" class="form-control" 
							aria-describedby="input-addon-name" value="{{ name }}"/>
					{% endraw %}  
				</div>                  
                 
                </form>              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close_label }}</button>
                <button type="button" class="btn btn-primary save-btn">{{ save_label }}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
		</div>

	</script>

{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-8">	   
   		<div id="note-list"></div>
   	</div>
</div>
   
    <script type="text/x-handlerbars-template" id="note-item-template">        
        {% raw %}
        <div class="panel panel-default" data-user_id="{{user_id}}">                
            <div class="panel-heading">
                {{username}}
            </div>
            <div class="panel-body">
                {{text}}
            </div>
            <div class="panel-footer hidden">
                <button class="btn btn-primary btn-edit">            
        {% endraw %}        
                    {{ edit_note_label }}
                </button>
            </div>
        
        </div>       
    </script>    
    
    
    <script type="text/x-handlebars-template" id="note-edit-template">
		<div class="modal fade" id="note-post-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ post_note_label }}</h4>
              </div>
              <div class="modal-body">
                <form id="note-edit-form">
                {% raw %}       
                    <textarea name="text" id="note-text" class="form-control">{{ text }}</textarea>
                 {% endraw %}
                </form>              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close_label }}</button>
                <button type="button" class="btn btn-primary save-btn">{{ post_label }}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
		</div>
    </script>
    
        
{% endblock %}

{% block javascripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script>
        define('app', ['jquery', 'backbone', 'marionette', 'handlebars', 
                 'models/note', 'collections/notes', 'views/note', 'views/note_list', 
                 'views/note_edit', 'views/note_post', 'views/userbar'], 
                 function ( $, Backbone, Marionette, Handlebars, 
                         	NoteModel, NoteCollection, NoteView, NoteListView, NoteEditView, NotePostView, UserbarView)
        {
            Marionette.TemplateCache.prototype.compileTemplate = function (rawTemplate) {
                return Handlebars.compile(rawTemplate);
            };
            
            Handlebars.registerHelper('dateFormat', function(date) {                
                function pad(n, width, z) {
                      z = z || '0';
                      n = n + '';
                      return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
                }
                
                var date = new Date(date);
                return  pad(date.getDate(), 2) + "." + pad(date.getMonth() + 1, 2) + "." + 
                        date.getFullYear() + " " + 
                        pad(date.getHours(), 2) + ":" + pad(date.getMinutes(), 2);
            });
            
        
            var app = new Backbone.Marionette.Application();        
            app.addRegions({
                notesRegion: "#note-list", 
                editModalRegion: '#edit-region', 
                postModalRegion: '#post-region',
                userbarRegion: '#userbar-region'});  
            
            var base_url = '{{ base_url }}', 
            	notes_url = '{{ notes_url }}';

            var NoteEditModel = NoteModel.extend({ urlRoot: notes_url });

            app.noteCollection = new NoteCollection([], {
 				url: notes_url,
            	model: NoteModel.extend({ user_id: {{user_id}} })				
 			});		
            
            app.noteEditView = new NoteEditView();
            app.notePostView = new NotePostView({ collection: app.noteCollection });

            app.profileModel = Backbone.Model.extend({ urlRoot: '{{ profile_url  }}' });
            
            app.userbarView = new UserbarView({ 
                model: new app.profileModel({ id: {{ user_id }}, name: '{{ username }}' })                 
            });	           
            
            app.listView = new NoteListView({
                editView: app.noteEditView,
                collection: app.noteCollection
            });

         
            app.on("start", function () {            	
                app.notesRegion.show(app.listView);
                
                app.editModalRegion.show(app.noteEditView);
                app.postModalRegion.show(app.notePostView);
                app.userbarRegion.show(app.userbarView);

                $('#post-note-btn').click(function () {
                    app.notePostView.showModal();	
                });

                $('#navbar-login').click(function () {
                    app.userbarView.showModal();
                });
                
            });     
            
            return app;
        });
            
        requirejs(["app"], function(app) {
            requirejs(["bootstrap"], function () {
                $(function () {
                    app.start();    
                });
            });     
        });

        requirejs.config({
            baseUrl: "/bundles/app/js/app",
            paths: {
                jquery: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery',
                backbone: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone',
                handlebars: 'http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars',
                underscore: 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore',
                bootstrap: '/bundles/app/js/bootstrap',
                marionette: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.2.2/backbone.marionette'
        
            }
        });
    
    </script>
{% endblock %}